

































































































































*{
	padding: 0;
	margin: 0;
}

<<<<<<< HEAD
html, body{
	height: 100%;
}


header{
	background-color: #424242;
	height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}



#nav{
	z-index: 99;
=======

#nav{
>>>>>>> origin/New_Css_to_Navigation
	height: 50px;
	width: 100%;
	background-color: #b3b3b3;
}

#navContainer{
	width: 70%;
	margin: 0 auto;
	
<<<<<<< HEAD
}

#logo{
	display: inline;
	height: 50px;
	width: 50px;
	float: left;
	display: table;	
}

#logo h1{
	display: table-cell;
	vertical-align: middle;
}



#navContainer li{
	display: inline;
	display: table-cell;
	vertical-align: middle;
}

#navContainer ul{
	float: right;
	height: 50px;
	width: 200px;
	display: table;
=======
>>>>>>> origin/New_Css_to_Navigation
}

#logo{
	display: inline;
	height: 50px;
	width: 50px;
	float: left;
	display: table;	
}

#logo h1{
	display: table-cell;
	vertical-align: middle;
}



#navContainer li{
	display: inline;
	display: table-cell;
	vertical-align: middle;
}

#navContainer ul{
	float: right;
	height: 50px;
	width: 200px;
	display: table;
}

